h1 {
  color: #f9989f;
  font-family: 'Staatliches', cursive;
  font-size: 50px;
  font-weight: 900;
  line-height: 20px;
}

h2 {
  color: #f9989f;
  font-family: 'Staatliches', cursive;
  font-size: 30px;
  line-height: 18px;
}

body {
  color: #3c415e;
  font-family: 'Staatliches', cursive;
  font-size: 24px;
  line-height: 24px;
}

a {
  color: #f9989f;
  text-decoration: none;
  font-size: 15px;
}

a:hover {
  color: #3c415e;
}

div {
  border-radius: 5px;
  background: white;
  padding: 30px;
  margin: 0 auto;
}

.img-circle {
  border-radius: 50%;
  width: 160px;
}

.container {
  width: 700px;
  margin: 40px auto;
  background-image: url("images/White flowers.jpg") ;
  background-size: cover;
  opacity: 0.9;
}

.card-white {
  padding: 30px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.list-inline {
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
}

.list-inline li {
  display: inline-block;
}

.pink-btn {
  background-color: #f9989f;
  color: white;
  padding: 10px 10px;
  border-radius: 4px;
}

.social-larger {
  font-size: 40px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}







